<div class = "d-flex flex-row shadow-lg p-3 mb-2 bg-white rounded">
  <div class="w-100 mr-2 text-truncate">
      <div>
        <%= label_tag( nil, "Название:", class:"font-italic font-weight-bold") %>
        <%= label_tag(truncate(event.title, :length => 40)) %>
      </div>
      <div>
        <%= label_tag( nil, "Тип повтора:", class:"font-italic font-weight-bold") %>
        <% if event.repeat_every_day %>
          <%= label_tag(:Каждый_день) %>
        <% elsif event.repeat_every_week%>
          <%= label_tag(:Каждую_неделю) %>
        <% elsif event.repeat_every_month %>
          <%= label_tag(:Каждый_месяц) %>
        <% elsif event.repeat_every_year %>
          <%= label_tag(:Каждый_год) %>
        <% else %>
          <%= label_tag(:Без_повтора) %>
        <% end %>
      </div>
      <div>
        <%= label_tag( nil, "Дата:", class:"font-italic font-weight-bold") %>
        <%= label_tag(event.date) %>
      </div>
      <div>
        <%= label_tag( nil, "Описание:", class:"font-italic font-weight-bold") %>
        <%= label_tag(truncate(event.discription, :length => 40)) %>
      </div>
    </div>
  <div class="btn-group-vertical" role="group">
    <%= link_to 'Просмотреть', event_path(event), class:"btn  btn-success mr-3" %>
    <% if event.user_id == current_user.id %>
      <%= link_to 'Редактировать', edit_event_path(event), class:"btn btn-warning" %>
    <% end %>
  </div>
</div>