<div class="d-flex justify-content-center mt-3 shadow-lg p-3 mb-5 bg-white rounded">
  <div class="flex-colum col-8">
    <h2 class="d-flex justify-content-center mt-2"> Редактировать </h2>
    <%= form_with scope: :event , url: events_path, local: true, method: :put do |form| %>
      <% if @event.errors.any? %>      
        <% @event.errors.full_messages.each do |msg| %>
          <div class="alert alert-danger"> 
            <%= msg %>
          </div>
        <% end %>
      <% end %>
      <div class="form-group">  
        <%= form.label("Название") %><br>
        <% if @event.errors[:title].any? %>
          <%= form.text_field :title , class:"rounded-lg form-control is-invalid"%>
        <% else %>
            <%= form.text_field :title , class:"rounded-lg form-control"%>
        <% end %>
      </div>
      <div class="form-group">  
        <%= form.label("Описание") %><br>
        <%= form.text_area :discription , class:"rounded-lg form-control"%>
      </div>
      <div class="form-group">  
        <%= form.label("Дата") %><br>
        <%= form.date_field :date , class:"rounded-lg form-control"%>
      </div>
      <div class="form-group">  
        <%= radio_button_tag(:repeat, 0, checked = true) %>
        <%= label_tag("Без повтора") %>
      </div>
      <div class="form-group">  
        <%= radio_button_tag(:repeat, 1, checked = @event.repeat_every_day,class:"") %>
        <%= label_tag("Повторять каждый день") %>
      </div>
      <div class="form-group">  
        <%= radio_button_tag(:repeat, 2, checked = @event.repeat_every_week,class:"") %>
        <%= label_tag("Повторять каждую неделю") %>
      </div>
      <div class="form-group">  
        <%= radio_button_tag(:repeat, 3, checked = @event.repeat_every_month, class:"") %>
        <%= label_tag("Повторять каждый месяц") %>
      </div>
      <div class="form-group">  
        <%= radio_button_tag(:repeat, 4, checked =  @event.repeat_every_year,class:"") %>
        <%= label_tag("Повторять каждый год") %>
      </div>
      <div class="form-group d-flex justify-content-between">  
        <%= form.submit("Сохранить", class: "btn btn-primary mb-2")%>
        <%= link_to 'Удалить', event_path(@event), method: :delete, class:"btn btn-outline-danger mb-2"%>
      </div>
    <% end %>
  </div>
</div>
