<div id="events">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= rus_name_of_month(@date) + " " + @date.strftime("%Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
  <div class="position-relative h-100">
    <%= link_to date.day, root_path(date: date), class:"stretched-link text-reset" %>
    <div>
      <% if count_user_events_in_date(date) > 0 %>
        <span class="badge badge-success">
          <%= count_user_events_in_date(date) %>
        </span>
      <% end -%>
      <% if count_another_events_in_date(date) > 0 %>
        <span class="badge badge-danger">
          <%= count_another_events_in_date(date)%>
        </span> 
      <% end -%>
    </div>
  </div>
  <% end %>
</div>